/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
    font-family: "open sans", sans-serif;
}
/* End Variables */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
/* Start header */
.header {
    background-color: grey;
}
.header #logo {
    height: 40px;
}
.header .container .header-content{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
    border-bottom: 2px solid black;
}
.header .container .header-content .links {
    display: flex;
    gap: 15px;
    align-items: center;
}
.header .container .header-content .wall {
    height: 70%;
    width: 2px;
    background-color: var(--main-color);
}
.header ul {
    display: flex;
    /* gap: 15px; */
}
.header ul li a {
    color: var(--main-color);
    border-bottom: 2px solid transparent;
    padding: 40px 10px;
    display: block;
}
.header ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
/* End header */
.landing {
    background-image: url('/images/landing.jpg');
    height: 100vh;
    background-color: grey;
}